.container{
    max-width: 500px;
    max-height: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0,0,10px rgba(0, 0, 0, 0.2);
}

p{
    text-align: center;
}

.button-primary{
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
}